{# templates/blog/category.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Article according to this tag : {{ tag.name }}.</h1>
    <br>
    {% for article in articles %}
        <div>
            <p>Id : {{ article.id }} - <a href="{{ path('article_show', {'id': article.id}) }}"> {{ article.title }}</a></p>
        </div>
    {% endfor %}
    <a href="{{ path('homepage') }}">
        Back to homepage.
    </a>
{% endblock %}